# System:
__pycache__
__pycache__/*
.DS_Store

# Data: 
data
luke_large_500k.tar.gz
apex


# # Output Files
luke_experiment/out_err_folder_hpc
all_files
output/*/
output*
*.out 
*.err

# Plots:
scatter_plots
calibration_plots
runs_tensorboards


# Confusion matrix:
confusion_matrix/