# System:
__pycache__
__pycache__/*
.DS_Store
*.pyc
*.swp
main.cpython-36.pyc

# Data: 
data
luke_large_500k.tar.gz
apex

# # Output Files
luke_hpc/out_err_folder_hpc
luke_experiments/plot*
all_files
output/*/
output*
*.out 
*.err

# Plots:
scatter_plots
calibration_plots
runs_tensorboards
t_sne_plots
plots_*

# Confusion matrix:
confusion_matrix/