# System:
*.log
*.pot
*.pyc
*/*/*/__pycache__/
*/*/__pycache__/
*/__pycache__/
.DS_Store
*.swp
*.gz

# Data: 
data
luke_large_500k.tar.gz
apex

# # Output Files
luke_hpc/out_err_folder_hpc
luke_experiments/plot*
all_files
output/*/
#output*
*.out 
*.err
*.bin
#*.json*
error_samples.json
missclassified_missing_labels*
*.ipynb_checkpoints/*

# Plots:
scatter_plots
calibration_plots
runs_tensorboards
t_sne_plots
plots_*

# Confusion matrix:
confusion_matrix/

# Scripts: 
plot_gradient_descent.py